.singleProduct {
  max-width: 18rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border: 2px solid greenyellow;
  text-align: center;
  padding: 0.5rem;
}

.singleProduct > img {
  height: 15rem;
  width: 12rem;
  object-fit: cover;
  margin: 0 auto;
}

.btnContainer {
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}
